.category-container {
  padding: 10px 0;
  border: 3px solid #f2f2f2;
  border-left: none;
  border-right: none;
  box-shadow: 0 34px 24px #00000005;

  .category-list {
    overflow: auto;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
  }

  .btn {
    color: #828282;
    font-weight: bold;

    &:hover {
      color: black;
    }
  }

  .btn + .btn {
    margin-right: 3px;
  }

  .btn-outline-primary {
    color: black;
  }
}
